.wrapper { display: flex; align-items: stretch; }
#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    transition: all 0.3s;
}
#sidebar.active { margin-left: -250px; }
#sidebar .sidebar-header { background: #1a1d20; }
#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #fff;
    text-decoration: none;
}
#sidebar ul li a:hover { background: #343a40; }
.navbar { padding: 15px 10px; background: #fff; border: none; border-radius: 0; margin-bottom: 40px; box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); }